.App {
  text-align: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.PokemonShow {
  filter: brightness(1) !important;
  transition: filter 0.5s ease-in;
}

.Pokemon-Loaded {
  visibility: initial !important;
  height: 96px !important;
}

#Pokemon {
  filter: brightness(0);
  visibility: hidden;
  height: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
